<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <link rel="stylesheet" media="all and (min-width:451px)" type="text/css" href="static/css/desktop.css">
    <link rel="stylesheet" media="all and (max-width:450px)" type="text/css" href="static/css/mobile.css">
    <script>
        // Function to pre-fill search box with captions and return the concatenated captions
        function fillSearchBoxWithCaptions(captions) {
            var searchQuery = '';
            captions.forEach(function (caption) {
                searchQuery += caption + ' '; // Concatenate captions
            });
            //console.log('Search query: ', searchQuery);
            return searchQuery.trim(); // Return concatenated captions
        }

        // Function to handle search submission
        function search_query() {
            var query = document.getElementById('search').value.trim();
            if (query !== '') {
                var url = 'https://www.googleapis.com/customsearch/v1?q=' + query + '&cx=67493060c354048c4&key=AIzaSyCfAqYViF4ffvjcxLw-hOtBmI4eecwNvfU';
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        displayResults(data);
                    })
                    .catch(error => {
                        console.error('Error fetching search results:', error);
                    });
            }
            return false; // Prevent form submission
        }

        // Function to display search results
        function displayResults(data) {
            var resultsContainer = document.getElementById('search-results');
            resultsContainer.innerHTML = ''; // Clear previous results
            if (data.items && data.items.length > 0) {
                data.items.forEach(function (item) {
                    var resultItem = document.createElement('div');
                    resultItem.classList.add('result-item'); // Add a CSS class for styling
                    var imageLink = document.createElement('a');
                    imageLink.href = item.link;
                    imageLink.target = '_blank'; // Open link in a new tab
                    var imageElement = document.createElement('img');
                    // Check if pagemap contains image data
                    if (item.pagemap && item.pagemap.cse_thumbnail && item.pagemap.cse_thumbnail.length > 0) {
                        imageElement.src = item.pagemap.cse_thumbnail[0].src;
                        imageElement.alt = item.title;
                    } else {
                        // display image not available
                        imageElement.alt = 'Image not available';
                    }
                    imageLink.appendChild(imageElement);
                    resultItem.appendChild(imageLink);
                    // Create a div for text to improve formatting
                    var textDiv = document.createElement('div');
                    textDiv.classList.add('text-container'); // Add a CSS class for styling
                    // Create a paragraph element for the title
                    var titleElement = document.createElement('p');
                    titleElement.textContent = item.title;
                    textDiv.appendChild(titleElement);
                    // Create a paragraph element for the snippet
                    var snippetElement = document.createElement('p');
                    snippetElement.textContent = item.snippet;
                    textDiv.appendChild(snippetElement);
                    resultItem.appendChild(textDiv);
                    resultsContainer.appendChild(resultItem);
                });
            } else {
                resultsContainer.innerHTML = '<p>No results found.</p>';
            }
        }

    </script>
</head>

<body>
    <h1>Image Search</h1>
    <p>Upload a picture to get started with generating searches</p>
    <!-- File upload button -->
    <form method="POST" enctype="multipart/form-data">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile">
        <input type="submit" value="Upload and Process">
    </form>

    {% if captions %}
    <script>
        window.onload = function () {
            var captions = {{ captions| tojson
        }};
        fillSearchBoxWithCaptions(captions);
        document.getElementById('search').value = captions.join(''); // Set the value of the search box
        };
    </script>
    <p>Image processed. Press search to see results.</p>
    {% else %}
    <p>No image uploaded yet.</p>
    {% endif %}
    <!-- Custom Search Box -->
    <form>
        <input type="text" name="q" id="search" size="70" value="" />
        <input type="submit" value="Search" onclick="return search_query()" />
    </form>
    <!-- Placeholder for search results -->
    <div id="search-results"></div>
</body>

</html>